<style>
	td{
		color:red;
		text-align:center;
	}
	
</style>

	<div style= "-moz-user-select:none;margin-left:20px;width:95%;">

			<table width= 100% border=0 cellpadding=0 cellspacing =10>
					<caption><font size = 5 >Summary of Registered Tuberculosis Cases from to</font></caption>
				<tr>
					<th>
							<table border = 1 cellspacing = 0 cellpadding =0 width= 100% >
								<tr>
									<th ><font size = 5 >Grouping</font></th><th ><font size = 5 >Description</font></th>
									<th ><font size= 5 >Total Count</th></font><tr>
								<tr><th rowspan=2>By Gender</th><th>Females Registered</th><td>45</td></tr>
								<tr><th>Males Registered</th><td>45</td></tr>
								<tr><th rowspan=2>By TB Classification</th><th>Pulmonary TB Cases</th><td>45</td></tr>
								<tr><th>Extra-Pulmonary TB Cases</th><td>45</td></tr>
								<tr><th rowspan=5>By Patient Category</th><th>New TB Cases</th><td>45</td></tr>
								<tr><th>Relapse TB Cases</th><td>45</td></tr>
								<tr><th>RAD TB Cases</th><td>45</td></tr>
								<tr><th>Past Failure TB Cases</th><td>45</td></tr>
								<tr><th>Other TB Cases</th><td>45</td></tr>
								<tr><th rowspan=3>By Sputum Examination At Initiation</th><th>Smear Positive</th><td>45</td></tr>
								<tr><th>Xpert </th><td>45</td></tr>
								<tr><th>Culture Negative</th><td>45</td></tr>
								<tr><th></th><th>Smear Positive At 2 Months </th><td>45</td></tr>
								<tr><th></th><th>Smear Positive At 5 Months</th><td>45</td></tr>

							</table>
					</th>
					<th >
							<table border = 1 cellspacing = 0 cellpadding =0 width= 100% >
								<tr><th ><font size = 5 >Grouping</font></th><th ><font size = 5 >Description</font></th>
									<th ><font size= 5 >Total Count</th></font><tr>
								<tr><th rowspan=6>By Treatment Outcome</th><th>Cured </th><td>45</td></tr>
								<tr><th>Tx Complete </th><td>45</td></tr>
								<tr><th>Died </th><td>45</td></tr>
								<tr><th>Tx Failure</th><td>45</td></tr>
								<tr><th>Default</th><td>45</td></tr>
								<tr><th>Transfer</th><td>45</td></tr>
								<tr><th rowspan=3>By HIV Test Status</th><th>Negative</th><td>45</td></tr>
								<tr><th>Positive</th><td>45</td></tr>
								<tr><th>Unknown</th><td>45</td></tr>
								<tr><th rowspan=2>By Time of HIV Test</th><th>Before TB Registration</th><td>45</td></tr>
								<tr><th>After TB Registration</th><td>45</td></tr>
								<tr><th rowspan=3>By ARV Status</th><th>A</th><td>45</td></tr>
								<tr><th>B</th><td>45</td></tr>
								<tr><th>C</th><td>45</td></tr>
								<tr><th>CPT Status</th><th>Started CPT</th><td>45</td></tr>
							</table>
					</th>
				</tr>
			</table>
		<font size = 4 style = strong>Total Registered :</font>		

	</div>

