.DS_Store
*.swp
*.swo
config/database.yml
config/email.yml
config/application.yml
config/settings.yml
notes
development.sql
development_structure.sql
schema.rb
*~
mockups
rerun.txt
nbproject
Gemfile.lock
log/*
.idea/*
.ruby-version
public/touchscreentoolkit/*
db/flat_tables_init_output/backup/*.sql
db/flat_tables_init_output/*.sql
