<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Bart2 - Weight chart</title>
    <style>
      
      .highcharts-button {
         display: none;
      }

    </style>
		<%= javascript_include_tag "Highcharts/js/jquery.min.js" %>
		<script type="text/javascript">
	
		var weights = JSON.parse('<%=@weights%>');
   
  function getDates() {
    dates = [];
    for(var i = 0; i < weights.length; i++) {
      dates.push(weights[i][0]);
    }
    return dates;
  }


$(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories:  getDates(),
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: 'Weight (KG)'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' (KG)'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: dataG()
        });
    });
    
 function dataG() {
      var correctedWeights = [];
      
      for(var i = 0; i < weights.length; i++) {
        correctedWeights.push(weights[i][1]);
      }
      return [{name: 'Weight', data: correctedWeights}];
    }
    </script>
  </head>
  <body>

<%= javascript_include_tag "Highcharts/js/highcharts" %>
<%= javascript_include_tag "Highcharts/js/modules/exporting" %>

<div id="container" style="width: 100%; height: 100%; margin: 0 auto">
</div>

<script> 
  function removeHighcharts() { 
/*    try {
      document.getElementsByClassName('highcharts-button')[0].innerHTML = null;
    }catch(e){}
 */   
    tspan = document.getElementsByTagName('tspan');
    for(var i = 0; i < tspan.length; i++){
      if(tspan[i].innerHTML == 'Highcharts.com'){
        tspan[i].innerHTML = null;
        break;
      }
    }

  }

  setInterval("removeHighcharts();",300);
</script>

	</body>
</html>


