<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Bart2 Email Error</h2>
    <p><%= "Unable to send email because attachment was not found." %></p>
    <p>Sent at <%= Time.now %></p>
  </body>
</html>