<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Report from Bart2</h2>
    <p><%= @email_body.html_safe %></p>
    <p>Sent at <%= Time.now %></p>
  </body>
</html>