<%#= javascript_include_tag "load_balancer" %>

<script type="text/javascript">
  <!--
  tt_cancel_destination = "/clinic/";
  tt_cancel_show = '/clinic';


  <%
      clinic_holidays = CoreService.get_global_property_value('clinic.holidays') || '1900-12-25,1900-03-03'
      clinic_holidays_hash = {} 
      clinic_holidays.split(',').sort.map do |date|
        clinic_holidays_hash[date] = 'true'
      end    
  %>

  var counts = <%= clinic_holidays_hash.to_json() %>;

  function summary() {
    //updateWhoStage();
    //updateReasonForArtEligibility();
    //var conditions = selectedConditions();
    var display = "<div><span class='title'>WHO Stage: Test</span></div>";

    //$('inputFrame'+tstCurrentPage).innerHTML = '<div id="summary">' + display + '</div>' ;
    $("clearButton").style.display = 'none';
    $("cancelButton").style.display = 'none';

    generateBalancer();
    $("observations__value_datetime").value = "";
  }


  function showSelectedDates() {
    activeCells = document.getElementsByClassName('cellActive');
    for(i=0;i<activeCells.length;i++) {
      activeCells[i].style.backgroundColor = 'red;'
      console.log(activeCells[i].style.backgroundColor)
    }
  }


  //-->
</script>

<% session_date = ("#{Date.today.year}-01-01").to_date %>

<form id="frmMain" action="/properties/create_clinic_holidays" method="post">

  <%= text_field_tag("observations[][value_datetime]", session_date,
    {
      :field_type => 'calendar',
      :tt_onLoad => "showSelectedDates();showCategory('Next Appointment'); __$('category').style.display = 'none';",
      :minDate => "#{session_date}",
      :tt_onUnLoad => "__$('observations__value_datetime').value = hideInfo();"
      }) %>

</form>
