<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Bart2 - Stock chart</title>
    <style>

      .highcharts-button {
         display: none;
      }

    </style>
		<%= javascript_include_tag "Highcharts/js/jquery.min.js" %>
		<script type="text/javascript">

		var stocks = JSON.parse('<%=@stocks%>');
                var name = '<%= @name %>';

  function getDates() {
    dates = [];
    for(var i = 0; i < stocks.length; i++) {
      dates.push(stocks[i][0]);

    }
    return dates;
  }


$(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                 text: name
            },
            subtitle: {
                text: 'Stock Movement   '
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                day: '%e %b',
                week: '%e %b'
                }
            },
            yAxis: {
                title: {
                    text: 'Tins in stock'
                },
                labels: {
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' Tins'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: dataG()
        });
    });

 function dataG() {
      var correctedWeights = [];

      for(var i = 0; i < stocks.length; i++) {
        correctedWeights.push(stocks[i][1]);
      }
      start_point = stocks[0][0].split('/')
      //alert(start_point.split('/')[1])
      return [{name: 'Time', data: correctedWeights, pointStart: Date.UTC(start_point[0], (start_point[1] - 1), start_point[2]), pointInterval: 24 * 3600 * 1000}];
    }
    </script>
  </head>
  <body>

<%= javascript_include_tag "Highcharts/js/highcharts" %>
<%= javascript_include_tag "Highcharts/js/modules/exporting" %>

<div id="container" style="width: 100%; height: 100%; margin: 0 auto">
</div>

<script>
  function removeHighcharts() {
/*    try {
      document.getElementsByClassName('highcharts-button')[0].innerHTML = null;
    }catch(e){}
 */
    tspan = document.getElementsByTagName('tspan');
    for(var i = 0; i < tspan.length; i++){
      if(tspan[i].innerHTML == 'Highcharts.com'){
        tspan[i].innerHTML = null;
        break;
      }
    }

  }

  setInterval("removeHighcharts();",300);
</script>

	</body>
</html>



