body {
  margin: 10px;
  min-height: 615px;
  min-width: 1290px;
  -moz-user-select: none;
  font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
}
.table {
  display: table;
  border-spacing: 1px;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}

.input {
    border: 1px solid #5ca6c4 !important;
    font-size: 1em; 
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 5px;   
    -moz-user-select: none;             
}
            
button {
    font-size: 1em;
    padding: 15px;
    min-width: 250px;
    cursor: pointer;
    min-height: 85px;
    border-radius: 15px !important;
    margin: 10px;
}

button:active{
    background-color: #ffc579 !important; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23)) !important;
    background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23) !important;
    background-image: -moz-linear-gradient(top, #ffc579, #fb9d23) !important;
    background-image: -ms-linear-gradient(top, #ffc579, #fb9d23) !important;
    background-image: -o-linear-gradient(top, #ffc579, #fb9d23) !important;
    background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23) !important;
}

.button_blue{
     border:1px solid #7eb9d0; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
     background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
     background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
     background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
     background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
     background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
}

.button_blue:hover{
     border:1px solid #5ca6c4;
     background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
     background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
     background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
     background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
     background-image: -o-linear-gradient(top, #82bbd1, #193b61);
     background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}

.button_green{
     border:1px solid #34740e; 
     -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
     border-radius: 3px;
     font-size:28px;
     font-family:arial, helvetica, sans-serif; 
     padding: 10px 10px 10px 10px; 
     text-decoration:none; 
     display:inline-block;
     text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
     font-weight:bold; color: #FFFFFF;
     background-color: #4ba614; 
     background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
     background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
     background-image: -moz-linear-gradient(top, #4ba614, #008c00);
     background-image: -ms-linear-gradient(top, #4ba614, #008c00);
     background-image: -o-linear-gradient(top, #4ba614, #008c00);
     background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
}

.button_green:hover{
     border:1px solid #224b09;
     background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
     background-image: -webkit-linear-gradient(top, #36780f, #005900);
     background-image: -moz-linear-gradient(top, #36780f, #005900);
     background-image: -ms-linear-gradient(top, #36780f, #005900);
     background-image: -o-linear-gradient(top, #36780f, #005900);
     background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
}

.button_red{
     border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #a90329; background-image: -webkit-gradient(linear, left top, left bottom, from(#a90329), to(#6d0019));
     background-image: -webkit-linear-gradient(top, #a90329, #6d0019);
     background-image: -moz-linear-gradient(top, #a90329, #6d0019);
     background-image: -ms-linear-gradient(top, #a90329, #6d0019);
     background-image: -o-linear-gradient(top, #a90329, #6d0019);
     background-image: linear-gradient(to bottom, #a90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a90329, endColorstr=#6d0019);
}

.button_red:hover{
     border:1px solid #450111;
     background-color: #77021d; background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), to(#3a000d));
     background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
     background-image: -moz-linear-gradient(top, #77021d, #3a000d);
     background-image: -ms-linear-gradient(top, #77021d, #3a000d);
     background-image: -o-linear-gradient(top, #77021d, #3a000d);
     background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
}

.button_gray{
     border:1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:28px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
     background-color: #ccc; background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
     background-image: -webkit-linear-gradient(top, #ccc, #999);
     background-image: -moz-linear-gradient(top, #ccc, #999);
     background-image: -ms-linear-gradient(top, #ccc, #999);
     background-image: -o-linear-gradient(top, #ccc, #999);
     background-image: linear-gradient(to bottom, #ccc, #999);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc, endColorstr=#999);
}

.button_gray:hover{
     border:1px solid #ccc;
     background-color: #ddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#ccc));
     background-image: -webkit-linear-gradient(top, #333, #ccc);
     background-image: -moz-linear-gradient(top, #333, #ccc);
     background-image: -ms-linear-gradient(top, #333, #ccc);
     background-image: -o-linear-gradient(top, #333, #ccc);
     background-image: linear-gradient(to bottom, #333, #ccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#333, endColorstr=#ccc);
}
  
.keyboard_button {
  cursor: pointer;
  font-size: 1.5em;
  min-width: 80px;
  width: 80px;
  height: 65px;
  min-height: 65px;
  margin: 3px;
}

.listing {
    overflow: auto;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 0px;
}

.listing li{  
    color: black;
    list-style: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-family:"Nimbus Sans L","Arial Narrow",sans-serif;
    font-size:2.2em;
}

.borderRightBottom {
  border-bottom: 1px solid #ccc; 
  border-right: 1px solid #ccc;
}

.borderBottom {
  border-bottom: 1px solid #ccc; 
}

.selected {
  background-color: lightblue !important;
}
