production:
 create_from_remote: false
 use.user.selected.activities: yes
 filing.number.prefix: FN101,FN102
 auto_set_appointment: true
 records_per_page: 15
 debugger_sorting_attribute: arv_number
 use_drug_barcodes_only: false
 mpc.lighthouse.states: false
 logo: mw.gif
 sort: true
 select_program: true

development:
 create_from_remote: false
 use.user.selected.activities: yes
 filing.number.prefix: FN101,FN102
 auto_set_appointment: true
 show.patient.confirmation: false
 records_per_page: 13
 debugger_sorting_attribute: arv_number
 use_drug_barcodes_only: false
 mpc.lighthouse.states: false
 logo: mw.gif
 sort: false
 select_program: true

test: &TEST
 create_from_remote: no
 use.user.selected.activities: yes

cucumber:
  <<: *TEST
