# production:
#   adapter: mysql
#   database: bart2_production
#   username: root
#   password: root
#   host: localhost

development:
  adapter: mysql
  database: bart2_development
  username: root
  password: root
  host: localhost

test: &TEST
  adapter: mysql
  database: bart2_test
  username: root
  password: root
  host: localhost

cucumber:
  <<: *TEST

migration:
  adapter: mysql
  database: test
  username: root
  password: root
  host: localhost

