<%= text_field_tag "person[addresses][address2]",  params[:home_district], {:field_type => 'alpha', :helpText => 'Home District', :ajaxURL => '/person_addresses/address2?search_string=', :allowFreeText => true }%>

