<style>
  #charts {
    height: 570px;
    margin: 2px 6px 6px;
    padding: 2px;
    background-color: lightyellow;
  }

  .buttonsDiv {
    bottom: 0px !important;
  }

  div {
  }
</style>

<div>
  
</div>

<br />
<br />

<div id="charts">
  <%= render(:partial => "average_length_of_stay" ) %>
</div>

