<script>
    var tt_cancel_destination = "/clinic";
</script>

<style>
  #tt_page_select_user_roles .options { height: 506px; }
</style>


<form method = 'post' action = "/user/change_role/<%=@user_id%>">
  <%= select_tag 'user[activities][]',
      options_for_select(@role, @user_roles),
      :helpText => "Select user roles",
      :multiple =>  true %>
</form>
