<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "mastercard for patient #{params[:id]} <br />" %>

<%= "<a href='javascript:back()'>Back</a>" %>
