<% @options.each do |option| %>
<% if  option[0].match(/MOH/i)%>
  <li style="background: #00CD66;" tstValue="<%= option[1] %>"><%= option[0] %></li>
<% else %>
  <li tstValue="<%= option[1] %>"><%= option[0] %></li>
<% end %>
<% end %>
